DB_USER01='DB_USERNAME'
DB_NAME01='DB_NAME'
DB_PASS01='DB_PWD'
DB_PORT01='DB_PORT'

DB_USER02='DB_USERNAME'
DB_NAME02='DB_NAME'
DB_PASS02='DB_PWD'
DB_PORT02='DB_PORT'


RECRAFT_API_KEY = 'YOUR_RECRAFT_API_KEY'